@charset "UTF-8";
.btn blue {
  background-color: blue;
}

.btn yellow {
  background-color: yellow;
}

.btn black {
  background-color: black;
}

.btn {
  background-color: lightblue;
}

.btn {
  background-color: blue;
}

.btn {
  background-color: violet;
}

div {
  background-color: none;
  text-align: center;
  font-size: 35px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'Arenq';
  src: url(../FUENTE/Arenq.otf);
}

.header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.nav {
  display: flex;
  /*background-color: blue;*/
  padding: 1rem;
  font-size: 25px;
  justify-content: space-evenly;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*gap: 50px;*/
}

.nav__item {
  margin-left: 30px;
  display: inline-block;
}

.nav__enlace {
  color: white;
  text-decoration: none;
  font-family: 'Arenq';
  font-size: 25px;
  font-weight: bold;
}

.nav__lista {
  font-size: 30px;
}

.logotipo {
  color: white;
  font-family: 'Arenq';
  justify-content: end;
  font-size: 50px;
  background-color: #000;
}

.logo__div {
  background-color: black;
}

.jam-menu {
  display: none;
}

.footer__text {
  text-decoration: none;
}

.waynestock__index {
  background-image: url(../imagenes/waynestockfondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.waynestock__opacidad {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waynestock__opacidad h1 {
  font-size: 8rem;
  color: #fff;
  font-weight: bold;
}

.logotipo {
  background-color: none;
  font-weight: bold;
}

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.nosotros h2 {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  padding: 2rem;
}

.nosotros p {
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.nosotros img {
  width: 100%;
}

.nosotros__articulo {
  background-image: url(../imagenes/labanda.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.nosotros__aside {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav__item--close {
  display: none;
}

body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.seccion__cards .card {
  max-width: 350px;
  background-color: #e6fff7;
  border-radius: 0.3rem;
  border: 1px solid black;
  text-align: center;
  margin: 1rem;
  transition: transform 0.5s;
  cursor: pointer;
}

.seccion__cards .card:hover {
  transform: scale(1.1);
}

.card-text {
  font-size: 1rem;
}

.card-body {
  color: white;
  background-color: black;
  border-radius: 0rem;
}

.productos__titulo h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  color: black;
  font-weight: bold;
}

.productos__titulo h4 {
  color: white;
}

.clase__main {
  width: 100%;
  height: auto;
  background-color: green;
  background-image: url(../IMAGENES/instrumentos-de-la-banda-de-rock-18172472.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container .heading {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(purple);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video {
  height: 15rem;
  width: 25rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem;
}

.video-container .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-container .video video:hover {
  transition: none;
  transform: translate(-50%, -50%) scale(1);
}

.video-container .video .active {
  position: fixed;
  top: 50;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
}

.video {
  background-color: white;
}

.heading {
  padding: 2rem;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.card__image {
  max-width: 350px;
  background-color: #e6fff7;
  border-radius: 0.50rem;
  text-align: center;
  margin: 1rem;
  border: 1px solid black;
  transition: transform 0.5s;
  cursor: pointer;
}

.card__image img {
  width: 100%;
  height: 250px;
  border-radius: 0.42rem;
}

.titulo__galeria {
  text-align: center;
  padding: 2rem;
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.formulario__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 4rem;
}

@media screen and (max-width: 1023px) {
  .seccion1 {
    display: none;
  }
  section.seccion1 {
    text-align: center;
    margin-right: 10px;
  }
  .seccion1__subtitulo {
    font-size: 80px;
    text-align: center;
    margin-right: 10px;
  }
  .header {
    background-color: black;
    flex-direction: column;
    padding: 1rem;
  }
  .nav {
    display: none;
    background-color: black;
    flex-direction: column;
  }
  .jam-menu {
    display: block;
  }
  .waynestock__opacidad h1 {
    font-size: 4rem;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: left 2s;
  }
  #lateral:target {
    left: 0;
  }
  .nav__item--close {
    display: block;
  }
  .nav__lista {
    text-align: center;
    padding: 1px;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    font-size: 15px;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .seccion1 {
    height: 100vh;
    text-align: center;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }
  .seccion1__subtitulo {
    font-size: 50px;
    text-align: center;
  }
  .header {
    background-color: black;
  }
  .header__open {
    display: none;
  }
  .nav {
    background-color: black;
    display: none;
    flex-direction: column;
    padding: 2px;
  }
  .nav__lista {
    text-align: center;
    padding: 1px;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    font-size: 15px;
    flex-direction: column;
  }
  .nav__enlace {
    font-size: 10px;
    text-align: center;
  }
  .form-register h4 {
    font-size: 300px;
  }
  .logotipo {
    font-size: 25px;
  }
  .nav__item {
    margin: 0px;
  }
  .redes__enlaces {
    margin: 1rem;
    text-align: center;
  }
  .redes__socialestitulo {
    text-align: center;
  }
  .flex {
    justify-content: center;
    background-color: black;
    gap: 2rem;
    text-align: center;
  }
  .flex__hijo {
    background-color: white;
  }
  .redes__socialestitulo {
    font-size: 2rem;
    margin-top: 0;
  }
  .lateral {
    display: block;
    background-color: yellow;
  }
  .fa-solid .fa-guitar-electric {
    color: black;
  }
  .form-register {
    width: 250px;
    height: 400px;
    margin-bottom: 1rem;
    text-align: center;
    align-content: center;
  }
  .controls {
    width: 200px;
    height: 15px;
    display: flex;
    font-size: 10px;
    align-content: space-around;
    align-items: center;
  }
  .form-register h4 {
    font-size: 10px;
  }
  .form-register .botons {
    font-size: 5px;
    width: 160px;
    height: 20px;
    padding: 0;
    margin-top: 2rem;
    background-color: red;
    color: white;
  }
  .redes__socialestitulo {
    font-size: 15px;
  }
  .ColorDeLasRedes {
    font-size: 10px;
  }
  .texto__acuerdo {
    font-size: 500px;
  }
  .redes__enlaces {
    font-size: 10px;
    width: 300px;
    height: 5px;
    margin: 0;
    padding: 0;
  }
  .TerminosYCondiciones {
    font-size: 10px;
    font-family: 'Arenq';
  }
  .YaTengoCuenta {
    font-size: 10px;
  }
  .grid__texto {
    font-size: 12px;
  }
  .tamaño__formulario {
    height: 30px;
    width: 300px;
  }
  .titulo__texto {
    text-align: center;
  }
  .waynestock__opacidad h1 {
    font-size: 2.5rem;
  }
  .nosotros h2 {
    font-size: 2rem;
  }
  .container .heading {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .productos__titulo h1 {
    font-size: 1.5rem;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: left 2s;
  }
  #lateral:target {
    left: 0;
  }
  .nav__item--close {
    display: block;
  }
  .anashe {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */