* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body{
    background-image: url(/IMAGENES/EL\ GARCI.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

    .header {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    
    }

    .nav {
    display: flex;
    /*background-color: blue;*/
    padding: 1rem;
    font-size: 25px;
    justify-content: space-evenly;
    
    }

    .nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*gap: 50px;*/
    }  

    .nav__item{
        margin-left: 30px;
        display: inline-block;
        }

    .nav__enlace{
    color:white;
    text-decoration: none;
    font-family:'Arenq';
    font-size: 25px; 
    }

    .nav__lista{
        font-size: 30px;
    }

    @font-face {
    font-family:'Arenq';
    src: url(../FUENTE/Arenq.otf);
    }

    .logotipo{
    color: white;
    font-family: 'Arenq';
    justify-content: end;
    font-size: 50px;
    }

.redes__enlaces{
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Arenq';
    font-size: 25px;
    
    justify-content: space-between;
    
}

.ColorDeLasRedes{
    color: white;
    font-size: 30px;
    font-family: 'Arenq';
}
.redes__socialestitulo{
    background-color: black;
}

.seccion1{
    background-image: url(../IMAGENES/WAYNESTOCK\ FONDO.jpg);
    background-size: cover;
    background-color:lightcoral;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion1__subtitulo{
    font-size: 180px;

}

.grid{
    color: black;
    border: 6px solid black;
    padding: 1rem;
    min-height: 500px;
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px 100px;
    grid-template-rows: 25% 25% 100px;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap:10px;
    row-gap: 10px;

    grid-template-areas: 
    "ele1 ele2 ele2"
    "ele3 ele3 ele4"
    "ele5 ele6 ele4";
}
    .grid__hijo{
        border: 2px solid black;
        padding: 0rem;
        color:black;
        text-align: center;
        position: relative;
    }

    .grid__hijo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .grid__hijo--1{
    background-color: lightblue;
    grid-area: ele1;
    color: black;
    }

    .grid__hijo--2{
    background-color:lightcoral ;
    grid-area: ele2;
    color: black;
    }  

    .grid__hijo--3{
    background-color: red;
    grid-area: ele3;
    color: black;
    }

        .grid__hijo--4{
        background-color: lightsalmon;
        grid-area: ele4;
        color: black;
        }

        .grid__hijo--5{
        background-color: lightslategray;
        grid-area: ele5;
        color: black;
        }

        .grid__hijo--6{
        background-color: lightpink;
        grid-area: ele6;
        color: black;
        }

        .grid__texto{
        position: absolute;
        bottom:0;
        right:0;
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        }
    .seccion{
        width: 80%;
        margin:0 auto;
    }

    .flex {
        border: 2px solid black;
        padding: 1rem;
        min-height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        color: white;
        }
        .flex img{
            width: 180px;
            height: 180px;
        }
    
    .flex__hijo {
    border: 1px solid black;
    color: #fff;
    text-align: center;
    line-height: 80px;
    padding: 10px;
    width: 200px;
    height: 200px;
    }
    
    .flex__hijo--1 {
    color: white;
    }
    .flex__hijo--2 {
    color: white;
    }
    .flex__hijo--3 {
    color: white;
    }
    .flex__hijo--4 {
    color: white;}

    .main__top{
    background-image: url(../IMAGENES/la\ banda.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .clase__main{
    width:100%;
    height: auto;
    background-color: green;
    background-image: url(../IMAGENES/instrumentos-de-la-banda-de-rock-18172472.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

    .form-register{
    color: white;
    background-color: black;
    width: 400px;
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 10px 13px 37px #000;
    }

    .form-register h4{
    color:white;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    }

    .controls{
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border:1px solid black;
    font-size: 18px;
    }

    .form-register p{
    height: 40px;
    text-align:center;
    font-size: 10px;
    color: white;  
    line-height: 5px;
    }

    .form-register a{
    color:white;
    text-decoration: none;
    }

    .form-register a:hover{
    color: black;
    text-decoration: underline;
    }

    .form-register .botons{
    width: 20rem;
    border:none;
    background-color: lightblue;
    padding: 5px;
    color: white;
    margin:10px 0px;
    font-size: 12px;
    }

    .YaTengoCuenta{
    font-size: 20px;
    }

    .texto__acuerdo{
    font-size: 10px;
    }

    .formulario--contacto{
    height: auto;
    width: auto;
    
    }

    .footer__text{
        text-decoration: none;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.container .heading{
    font-size: 3rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color:var(purple);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}

.video-container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.video-container .video{
    height: 15rem;
    width: 25rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 1rem;
}

.video-container .video video{
    height:100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}

.video-container .video video:hover{
    transition: .2s linear;
    transform: scale(1.3rem);
}

.video-container .video .active{
    position:fixed;
    top:50; left:50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.5)
    

}


@import url();