.redes__enlaces{
    color: $color-secundario;
    list-style: none;
    text-decoration: none;
    font-family: 'Arenq';
    font-size: 25px;
    
    justify-content: space-between;
    
}

.ColorDeLasRedes{
    color: $color-secundario;
    font-size: 30px;
    font-family: 'Arenq';
}
.redes__socialestitulo{
    background-color: $color-primario;
}