* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body{
    background-repeat: no-repeat;
    background-size: cover;
    }

    @font-face {
    font-family:'Arenq';
    src: url(../FUENTE/Arenq.otf);
    }