.main__top{
    background-image: url(../IMAGENES/labanda.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

    .clase__main{
        width:100%;
        height: auto;
        background-color: green;
        background-image: url(../IMAGENES/instrumentos-de-la-banda-de-rock-18172472.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        }